/*---Обнуление---*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
}
h1, h2, h3, h4, h5, h6{ 
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 18px;
}
button,
input{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button{
    display: block;
    cursor: pointer;
    background-color: inherit;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.section__title {
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.48px;
}
.section__subtitle {
    text-align: center;
    color: #333;
    line-height: 200%;
    text-transform: capitalize;
    letter-spacing: 0.18px;
}
/*---header---*/
#header {
    padding-top: 34px;
    padding-bottom: 34px;
    font-family: 'Poppins', sans-serif;
    background-color: #545EE1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.header__logo {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
.header__logo-blue {
    color: #111764;
}
.header__menu {
}
.menu-header {
}
.menu-header__list {
    display: flex;
    justify-content: space-between;
    gap: 33px;
}
.menu-header__item {
}
.menu-header__link {
    color: #BDC2FF;
    font-size: 16px;
    transition: color 0.4s ease 0s;
}
.menu-header__link:hover {
    color: #fff;
}
.menu-header__link-active {
    color: #fff;
    font-weight: 700;
}
/*---banner---*/
#banner {
    padding-top: 155px;
    padding-bottom: 185px;
    background-color: #545EE1;
}
.banner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__info {
    max-width: 550px;
}
.info-banner__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.info-banner__text {
    color: #E5E5E5;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.24px;
    text-transform: capitalize;
    margin-bottom: 54px;
}
.info-banner__button {
    display: flex;
    align-items: center;
    gap: 40px;
}
.button-info-banner__link {
    color: #080A2B;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    padding: 23px 63px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
.button-info-banner__link:hover {
    background-color: #080a2ba7;
    color: #fff;
}
.button-info-banner__btn {
    position: relative;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    padding-left: 33px;
    transition: color 0.5s ease 0s;
}
.button-info-banner__btn:hover {
    color: #BDC2FF;
}
.button-info-banner__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    background: url('../image/banner/play.png') 50%/100% no-repeat;
    transform: translateY(-50%);
}
.banner__img {
    width: 530px;
    height: 458px;
    background: url('../image/banner/banner-image.png') 50%/contain no-repeat;
}
/*---about---*/
#about {
    padding: 79px 0 168px;
}
.wrap-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-about__img {
    position: relative;
    width: 601px;
    height: 417px;
}
.wrap-about__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -90px;
    width: 100%;
    height: 100%;
    background: url('../image/about/about__image.png') 50%/100% no-repeat;
}
.info-about {
    max-width: 566px;
}
.info-about__title {
    margin-bottom: 7px;
    text-align: left;
}
.info-about__subtitle {
    text-align: left;
    margin-bottom: 28px;
    font-weight: 600;
}
.info-about__text {
    text-transform: capitalize;
    line-height: 34px;
    letter-spacing: 0.18px;
}
/*---services---*/
#services {
    padding-bottom: 15px;
}
.services__title {
    margin-bottom: 8px;
}
.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 43px 19px;
    margin-top: 61px;
}
.wrap-services__container {
    border-radius: 40px;
    border: 1px solid #E5E5E5;
    padding: 50px 20px 36px 20px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.wrap-services__container:hover {
    background: #545EE1;
    box-shadow: 0px 4px 35px 0px rgba(84, 94, 225, 0.55);
}
.wrap-services__img {
    width: 80px;
    height: 80px;
}
.wrap-services__container:hover .wrap-services__img {
    filter: brightness(0) invert(1);
}
.wrap-services__title {
    margin: 26px 0 30px;
    color: #333;
    font-size: 22px;
    letter-spacing: 0.22px;
    text-transform: capitalize;
}
.wrap-services__container:hover .wrap-services__title {
    color: #fff;
}
.wrap-services__text {
    letter-spacing: 0.18px;
    line-height: 166%;
}
.wrap-services__container:hover .wrap-services__text {
    color: #E5E5E5;
}
/*---sales---*/
#sales {
    padding-top: 210px;
    padding-bottom: 150px;
}
.sales-wrap {
    display: flex;
    justify-content: space-between;
}
.content-sales-wrap {
    max-width: 550px;
}
.content-sales-wrap__title {
    text-align: left;

}
.content-sales-wrap__list {
    margin-top: 68px;
}
.content-sales-wrap__item {
    position: relative;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    line-height: 30px;
    padding-left: 50px;
}
.content-sales-wrap__item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 7px;
    width: 30px;
    height: 30px;
    background: url('../image/sales/swap-sales.svg') 50%/100% no-repeat;
}
.wrap-sales__img {
    width: 50%;
    background: url('../image/sales/sales-img.png') 0% 0%/cover no-repeat;
}
/*---projects---*/
#projects {
    padding-bottom: 180px;
}
.projects__title {
    margin-bottom: 13px;
}
.content-section {
    margin: 58px 0 39px;
}
.content-section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.content-section__item {
}
.content-section__link {
    color: #b2b2b2;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    transition: color 0.5s ease 0s;
}
.content-section__link:hover {
    color: #545EE1;
}
.content-section__link-active {
    color: #545EE1;
}
.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 443px);
    gap: 30px 20px;
}
.image-section__link {
    border-radius: 20px;
    background-size: cover;
}
.image-section__link:nth-child(1) {
    grid-column: 1/3;
    background-image: url('../image/projects/projects-1.png');
}
.image-section__link:nth-child(2) {
    grid-column: 3/4;
    background-image: url('../image/projects/projects-2.png');
}
.image-section__link:nth-child(3) {
    grid-column: 1/2;
    background-image: url('../image/projects/projects-3.png');
}
.image-section__link:nth-child(4) {
    grid-column: 2/4;
    background-image: url('../image/projects/projects-4.png');
}
/*---feedback---*/
#feedback {
    padding: 32px 0 54px;
    background-color: #8D94F6;
}
.feedback-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.left-wrap-feedback {
    max-width: 410px;
    flex-grow: 1;
}
.left-wrap-feedback__title {
    color: #fff;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-transform: capitalize;
}
.left-wrap-feedback__text {
    color: #E5E5E5;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0.18px;
}
.right-wrap-feedback {
    position: relative;
    flex-grow: 2;
}
.right-wrap-feedback::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 166px;
    height: 137px;
    background: url('../image/feedback/quotation.svg') 50%/100% no-repeat;
}
.right-wrap-feedback__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    width: 455px;
    min-height: 150px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.25);
    margin: 50px auto 0;
    padding: 25px 20px;
}
.feedback__next {
    margin: 0 0 0 auto;
    opacity: 0.7;
}
.right-wrap-feedback__img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
.right-wrap-feedback__info {
}
.right-wrap-feedback__name {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.22px;
    text-transform: capitalize;
}
.right-wrap-feedback__commment {
    color: #b2b2b2;
    line-height: 28px;
    letter-spacing: 0.18px;
    text-transform: capitalize;
}
.right-wrap-feedback__btn-slider {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.feedback-btn-wrap {
    margin: 79px auto 0;
}
.btn-slider {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: background-color 0.5s ease 0s;
}
.btn-slider:hover {
    background-color: #545EE1 !important;
}
.btn-slider-selected {
    background-color: #545EE1 !important;
}
/*---blog---*/
#blog {
    padding: 152px 0 162px;
}
.blog__title {
    margin-bottom: 13px;
}
.blog__subtitle {
    margin-bottom: 72px;
}
.wrap-blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 72px 0 92px;
}
.wrap-blog__content {
}
.wrap-blog__img {
    margin-bottom: 21px;
}
.wrap-blog__link {
    color: #191919;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.26px;
    text-transform: capitalize;
}
.wrap-blog__link:hover {
    text-decoration: underline;
}
.blog-btn-wrap .btn-slider {
    background-color: rgba(84, 94, 225, 0.3);
}
/*---contact---*/
#contact {
    position: relative;
    padding: 58px 0 52px;
    background-color: #F3F4FF;
}
#contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}
.contact-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-wrap-contact {
    max-width: 455px;
}
.content-wrap-contact__title {
    color: #191919;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 11px;
    max-width: 363px;
}
.content-wrap-contact__text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}
.content-wrap-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
    background-color: #F9FCFB;
    box-shadow: 0px 20px 35px 0px rgba(84, 94, 225, 0.22);

}
.content-wrap-form__input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px 12px;
    flex-grow: 2;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-weight: 400;
}
.content-wrap-form__btn {
    font-family: 'Poppins', sans-serif;
    padding: 14px 37px;
    background-color: #545EE1;
    color: #fff;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
}
.content-wrap-form__btn:hover {
    background-color: #3b45d0;
}
/*---footer---*/
#footer {
    padding: 88px 0 58px;
    background-color: #F3F4FF;
}
.wrap-footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.wrap-footer__info {
    max-width: 360px;
}
.wrap-footer__info-logo {
    display: block;
    margin-bottom: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #545EE1;
}
.footer__logo-blue {
    color: #111764;
}
.wrap-footer__info-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}
.nav-footer-wrap {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.nav-footer {
}
.nav-footer__title {
    color: #191919;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.nav-footer__list {
    max-width: 124px;
}
.nav-footer__link {
    opacity: 0.8;
    font-size: 16px;
    line-height: 46px;
    font-weight: 500;
}
.nav-footer__link:hover {
    text-decoration: underline;
}
.social-footer-wrap {
    width: 217px;
}
.social-footer-wrap__title {
}
.social-footer-wrap__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 46px;
    margin-bottom: 35px;
}
.social-footer-wrap__links {
}
.social-footer-wrap__link {
}
.social__image {
}